version: "3.8"

services:
  api-gateway:
    build: .
    container_name: api-gateway
    ports:
      - "8080:8080"
    volumes:
      - ./config:/etc/krakend
    networks:
      - backend-network
    restart: unless-stopped

networks:
  backend-network:
    external: true
