{
  "endpoint": "/master/provinsi",
  "method": "GET",
  "input_headers": ["Authorization"],
  "input_query_strings": ["*"],
  "output_encoding": "no-op",
  "backend": [
    {
      "url_pattern": "/api/master-alamat/provinsi",
      "encoding": "json",
      "method": "GET",
      "host": ["{{ .hosts.generic }}"],
      "extra_config": {
        "backend/http": {
          "return_error_code": true
        }
      }
    }
  ]
},
{
  "endpoint": "/master/kabupaten",
  "method": "GET",
  "input_headers": ["Authorization"],
  "input_query_strings": ["*"],
  "output_encoding": "no-op",
  "backend": [
    {
      "url_pattern": "/api/master-alamat/kabupaten",
      "encoding": "json",
      "method": "GET",
      "host": ["{{ .hosts.generic }}"],
      "extra_config": {
        "backend/http": {
          "return_error_code": true
        }
      }
    }
  ]
},
{
  "endpoint": "/master/kecamatan",
  "method": "GET",
  "input_headers": ["Authorization"],
  "input_query_strings": ["*"],
  "output_encoding": "no-op",
  "backend": [
    {
      "url_pattern": "/api/master-alamat/kecamatan",
      "encoding": "json",
      "method": "GET",
      "host": ["{{ .hosts.generic }}"],
      "extra_config": {
        "backend/http": {
          "return_error_code": true
        }
      }
    }
  ]
},
{
  "endpoint": "/list-property",
  "method": "GET",
  "input_headers": ["Authorization"],
  "input_query_strings": ["*"],
  "output_encoding": "no-op",
  "backend": [
    {
      "url_pattern": "/api/list-property",
      "encoding": "json",
      "method": "GET",
      "host": ["{{ .hosts.generic }}"],
      "extra_config": {
        "backend/http": {
          "return_error_code": true
        }
      }
    }
  ]
},
{
  "endpoint": "/data-busana",
  "method": "GET",
  "input_headers": ["Authorization"],
  "input_query_strings": ["*"],
  "output_encoding": "no-op",
  "backend": [
    {
      "url_pattern": "/api/data-busana",
      "encoding": "json",
      "method": "GET",
      "host": ["{{ .hosts.generic }}"],
      "extra_config": {
        "backend/http": {
          "return_error_code": true
        }
      }
    }
  ]
},
{
  "endpoint": "detail-paket/{id}",
  "method": "GET",
  "input_headers": ["Authorization"],
  "input_query_strings": ["*"],
  "output_encoding": "no-op",
  "backend": [
    {
      "url_pattern": "/api/detail-paket/{id}",
      "encoding": "json",
      "method": "GET",
      "host": ["{{ .hosts.generic }}"],
      "extra_config": {
        "backend/http": {
          "return_error_code": true
        }
      }
    }
  ]
},
{
  "endpoint": "/list-busana-perempuan",
  "method": "GET",
  "input_headers": ["Authorization"],
  "input_query_strings": ["*"],
  "output_encoding": "no-op",
  "backend": [
    {
      "url_pattern": "/api/list-busana-perempuan",
      "encoding": "json",
      "method": "GET",
      "host": ["{{ .hosts.generic }}"],
      "extra_config": {
        "backend/http": {
          "return_error_code": true
        }
      }
    }
  ]
},
{
  "endpoint": "/list-busana-laki",
  "method": "GET",
  "input_headers": ["Authorization"],
  "input_query_strings": ["*"],
  "output_encoding": "no-op",
  "backend": [
    {
      "url_pattern": "/api/list-busana-laki",
      "encoding": "json",
      "method": "GET",
      "host": ["{{ .hosts.generic }}"],
      "extra_config": {
        "backend/http": {
          "return_error_code": true
        }
      }
    }
  ]
},
{
  "endpoint": "/data-bunga-melati-list",
  "method": "GET",
  "input_headers": ["Authorization"],
  "input_query_strings": ["*"],
  "output_encoding": "no-op",
  "backend": [
    {
      "url_pattern": "/api/data-bunga-melati-list",
      "encoding": "json",
      "method": "GET",
      "host": ["{{ .hosts.generic }}"],
      "extra_config": {
        "backend/http": {
          "return_error_code": true
        }
      }
    }
  ]
},
{
  "endpoint": "/list-set-pendamping",
  "method": "GET",
  "input_headers": ["Authorization"],
  "input_query_strings": ["*"],
  "output_encoding": "no-op",
  "backend": [
    {
      "url_pattern": "/api/list-set-pendamping",
      "encoding": "json",
      "method": "GET",
      "host": ["{{ .hosts.generic }}"],
      "extra_config": {
        "backend/http": {
          "return_error_code": true
        }
      }
    }
  ]
},
{
  "endpoint": "/list-item-pendamping",
  "method": "GET",
  "input_headers": ["Authorization"],
  "input_query_strings": ["*"],
  "output_encoding": "no-op",
  "backend": [
    {
      "url_pattern": "/api/list-item-pendamping",
      "encoding": "json",
      "method": "GET",
      "host": ["{{ .hosts.generic }}"],
      "extra_config": {
        "backend/http": {
          "return_error_code": true
        }
      }
    }
  ]
},
{
  "endpoint": "/list-item-dekorasi",
  "method": "GET",
  "input_headers": ["Authorization"],
  "input_query_strings": ["*"],
  "output_encoding": "no-op",
  "backend": [
    {
      "url_pattern": "/api/list-item-dekorasi",
      "encoding": "json",
      "method": "GET",
      "host": ["{{ .hosts.generic }}"],
      "extra_config": {
        "backend/http": {
          "return_error_code": true
        }
      }
    }
  ]
},
{
  "endpoint": "/list-item-entertain",
  "method": "GET",
  "input_headers": ["Authorization"],
  "input_query_strings": ["*"],
  "output_encoding": "no-op",
  "backend": [
    {
      "url_pattern": "/api/list-item-entertain",
      "encoding": "json",
      "method": "GET",
      "host": ["{{ .hosts.generic }}"],
      "extra_config": {
        "backend/http": {
          "return_error_code": true
        }
      }
    }
  ]
},
{
  "endpoint": "/list-item-properti",
  "method": "GET",
  "input_headers": ["Authorization"],
  "input_query_strings": ["*"],
  "output_encoding": "no-op",
  "backend": [
    {
      "url_pattern": "/api/list-item-properti",
      "encoding": "json",
      "method": "GET",
      "host": ["{{ .hosts.generic }}"],
      "extra_config": {
        "backend/http": {
          "return_error_code": true
        }
      }
    }
  ]
}
